# Software Defect Detection Process Simulation
# Author: 20529864

version = "0.01";

softSim:
{
	numSWE							=		3;  #number of SWEs
	SWEHours						=		25; #hours they work per week
	majorDefectImpact		=		7;  #perceived impact of major defect
	minorDefectImpact		=		1;  #perceived impact of minor defect
	hardDefectFixTime		=		5;  #hours to fix a hard defect
	easyDefectFixTime		=		2;  #hours to fix an easy defect

	# options
	partFixes						=		false;
	error								=		0.0;
};
